VITE_API_URL=https://izhar-finance-backend.onrender.com
VITE_SUPABASE_URL=https://mvgivwosotyzbzbubzgi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12Z2l2d29zb3R5emJ6YnViemdpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ0NDE1NDUsImV4cCI6MjEwMDAxNzU0NX0.Yheglm8spMIEtvMr2FHNaRh56nsJB9HYbqog27rzogA